<template>
    <div>
        <b-card title="Search"
                sub-title="Advanced Search using filters">
            <p class="card-text">
                <div class="row">
                    <div class="ml-md-auto"></div>
                    <div class="col-md-3 col-md-offset-2 col-sm-6 col-xs-12">
                        <label for="gender">Filter By Gender</label>
                        <b-form-select 
                            id="gender" 
                            v-model="gender" 
                            :options="genders" 
                            @change.native="filterByGender()"
                            class="mb-3">
                        </b-form-select>    
                    </div>
                    <div class="col-md-3  col-sm-6 col-xs-12">
                        <label for="nationality">Filter By Nationality</label>
                        <b-form-select 
                            id="nationality" 
                            v-model="nationality" 
                            :options="nationalities" 
                            class="mb-3" 
                            @change.native="filterByNationality()">
                        </b-form-select>    
                    </div>
                    <div class="ml-md-auto"></div>
                </div>
                
            </p>
        </b-card>
        
    </div>
</template>

<script>
import { apiUrl } from './../config';
import { clearQueryString } from './../helpers';
import axios from 'axios';
export default {
    props:['url'],
    data(){
        return {
            genders:[
                { value: null, text: '-- Please Select --' },
                {value:'male',text:'Male'},
                {value:'female',text: 'Female'},
            ],
            nationalities:[
                { value: null, text: '-- Please Select --' },
                { value: 'AU', text: 'Australia' },
                { value: 'BR', text: 'Brazil' },
                { value: 'CA', text: 'Canada' },
                { value: 'CH', text: 'Switzerland' },
                { value: 'DE', text: 'Germany' },
                { value: 'DK', text: 'Denmark' },
                { value: 'ES', text: 'Spain' },
                { value: 'FI', text: 'Finland' },
                { value: 'FR', text: 'France' },
                { value: 'GB', text: 'United Kingdom' },
                { value: 'IE', text: 'Ireland' },
                { value: 'IR', text: 'Iran (islamic Republic Of)' },
                { value: 'NL', text: 'Netherlands' },
                { value: 'NZ', text: 'New Zealand' },
                { value: 'TR', text: 'Turkey' },
                { value: 'US', text: 'United States' },
            ],
            gender:null,
            nationality:null,
            requestUrl: this.url,

        }
    },
    watch: {
        url(value){
            this.requestUrl = value;
        }
    },
    methods:{
        filterByGender(){
            this.requestUrl = clearQueryString(this.requestUrl,'gender');
            // Add Query String Params for gender
            this.requestUrl += (this.gender ? '&gender=' + this.gender : '');

            if (this.gender !== null){
                this.getData(this.requestUrl);
            } else {
                this.requestUrl = clearQueryString(this.requestUrl,'gender');
                this.getData(this.requestUrl);
            }
        },

        filterByNationality(){
            this.requestUrl = clearQueryString(this.requestUrl,'nat');
            // Add Query String Params for Nationality
            this.requestUrl += (this.nationality ? '&nat=' + this.nationality : '');

            if (this.nationality !== null){
                this.getData(this.requestUrl);
            } else {
                this.requestUrl = clearQueryString(this.requestUrl,'nat');
                this.getData(this.requestUrl);
                
            }
        },
        getData(url){
            var that = this;

            this.$emit('loading',true);
               
            axios.get(url)
                    .then(function(response) {
                    that.$emit('users-updated', response.data.results);
                    that.$emit('loading',false);
                    that.$emit('update-api-url',url);
                })
                .catch(function(){
                    that.$emit('loading',false);
                    alert('Whooops! Something wrong happned! Make sure you\'re connected!');
                });
        }
    },
}
</script>

<style lang="scss" scoped>

</style>

