<template>
    <div id="app222">
        <Filters
            :url="url"
            @update-filter-api-url="handleUrlUpdateByFilters"
            @users-updated="updateList"
            @loading="handleLoading"
            @update-api-url="handleUrlUpdateByFilters"
        ></Filters>
        <br>
        <div class="container">
            <div class="row" v-for="i in Math.ceil(users.length / 4)">
                <div class="col-md-3 col-sm-6 col-xs-12" v-for="user in users.slice((i - 1) * 4, i * 4)">
                    <User :userData="user" :loading="loading"></User>
                </div>
            </div>
            
        </div>
        
        <Paginator
            :url="url"
            :recordsPerRequest="dataPerRequest"
            @users-updated="updateList"
            @loading="handleLoading"
            @update-api-url-paginator="handleUrlUpdateByPaginator"
        ></Paginator>
        
    </div>
</template>

<script>

import { apiUrl } from './../config';
import axios from 'axios';
import User from '@/components/User'
import Paginator from '@/components/Paginator'
import Filters from '@/components/Filters'
import Modal from '@/components/Modal'


export default {
    data() {
        return {
            users: [],
            dataPerRequest: 15,
            loading: false,
            genderFilter: false,
            gender: "",
            url: "",
            show:false,
        }
    },
    methods: {
        updateList(list){
            this.users = list;
        },
        handleLoading(value){
            this.loading = value;
        },
        handleUrlUpdateByPaginator(value){
            console.log('from paginator',value);
            this.url = value;
        },
        handleUrlUpdateByFilters(value){
            console.log('from filters',value);
            this.url = value;
        },
    },
    components: {
        User,
        Paginator,
        Filters,
    },
    created() {
        console.log('list-created-again');
        this.loading = true;
        var that = this;

        this.url = apiUrl + this.dataPerRequest + '&page=1';

        history.pushState(null, null, '/users/page/1');

        axios.get(this.url)
            .then(function(response) {
                that.users = response.data.results;
                that.loading = false;
            })
            .catch(function(error){
                that.loading = false;
                alert('Whooops! Something wrong happned! Make sure you\'re connected!');
                setTimeout(function() {
                    this.created();
                }, 3000);
            });
    }
}
</script>

<style lang="css" scoped>
    

</style>

