<template>
    <div class="pagination">
        <a @click="navigateToPage(--currentPage)" class="previous" v-if="currentPage > 1">&laquo; Previous </a>
        <a class="input">
            <input type="number" min="1" v-model="currentPage" @change="navigateToPage(currentPage)">
        </a>
        <a @click="navigateToPage(++currentPage)" class="next">Next &raquo;</a>
        
    </div>
</template>

<script>

import axios from 'axios';
import { clearQueryString } from './../helpers';
export default {
    props:['recordsPerRequest','url'],
    data(){
        return {
            currentPage : 1,
            APIUrl:this.url,
        }
    },
    methods:{
        navigateToPage(){
            if (this.currentPage < 1) {
                this.currentPage = 1;
            }

            this.APIUrl = clearQueryString(this.APIUrl,'page');
            this.APIUrl += '&page=' + this.currentPage 

            this.getData(this.APIUrl);
        },
        broadcast() {
            return this.$emit('changed', this.currentPage);
        },
        updateUrl() {
            history.pushState(null, null, '/users/page/' + this.currentPage);
        },
        getData(url){
            var that = this;

            this.$emit('loading',true);
               
             axios.get(url)
                .then(function(response) {
                    that.users = response.data.results;
                    that.$emit('users-updated', response.data.results);
                    that.$emit('loading',false);
                    that.$emit('update-api-url-paginator',url);
                })
                .catch(function(){
                    that.$emit('loading',false);
                    alert('Whooops! Something wrong happned! Make sure you\'re connected!');
                });
        }
    },
    watch: {
        currentPage() {
            this.broadcast().updateUrl();
        },
        url(value){
            this.APIUrl = value;
        },
    
    },
    

}
</script>

<style lang="scss" scoped>
$color_primary: black;
$color_secondary: white;
$background_primary: blue;
$background_secondary: #ddd;
$margin:10px;
.pagination {
	display: inline-block;
	a {
		color: $color_primary;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		border: 1px solid #ddd;
		&:hover {
			&:not(.active) {
				background-color: $background_secondary;
                cursor: pointer;
			}
		}
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	a.next {
        margin-left:$margin
    }
    a.previous {
        margin-right:$margin
    }

    a.input {
        input[type=number] {
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            height: 40px;
            text-align: center;
            font-size: 18px;
        }
            
        padding: 0;
        border: 1px solid #ddd;
    
    }
    
}

</style>


